html {
   scroll-behavior: smooth;
}

body {
   font-family: 'Montserrat', sans-serif;
   color: #2B3541;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}


/* <header class="header"> */

.container {
   max-width: 1143px;
   margin: 0 auto;
   padding: 0 15px;
}

header {
   margin-top: 40px;
}

.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header-menu {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 53px;
}

.header-logo {
   display: block;
   background: url(../img/icons/logo.svg) no-repeat center center /cover;
   width: 97px;
   height: 30px;
}

.header-nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 54px;
   list-style: none;
}

.header-nav a {
   font-size: 18px;
   color: #2B3541;
   padding-bottom: 10px;
   text-decoration: none;
   transition: border-bottom 0.7s;
   border-bottom: 1px solid transparent;
}

.header-nav a:hover {
   border-bottom: 1px solid #2B3541;
}

.header-social {
   display: flex;
   align-items: center;
   gap: 30px;
}

.header-insta {
   display: block;
   background: url(../img/icons/IN.svg) no-repeat center center /cover;
   width: 30px;
   height: 30px;
   transition: 0.3s;
}

.header-fb {
   display: block;
   background: url(../img/icons/FB.svg) no-repeat center center /cover;
   width: 30px;
   height: 30px;
   transition: 0.3s;
}

.header-insta:hover,
.header-fb:hover {
   transform: scale(1.2);
}

/* <div class="banner"> */

.banner {
   margin-top: 17px;
}

.banner-container {
   position: relative;
}

.banner-wrapper {}

.banner-img {}

.banner-img img {
   width: 996px;
   position: absolute;
   top: 0;
   right: -185px;
   z-index: 1;
}

/* .banner-img img {
   max-width: 100%;
} */

.banner-title {
   font-weight: 700;
   font-size: 48px;
   text-transform: uppercase;
   width: 676px;
   margin: 0;
   padding-top: 226px;
   padding-right: 50px;
   letter-spacing: 0.03em;
   line-height: 125%;
   position: relative;
   z-index: 2;
}

.banner-training {
   font-size: 40px;
   margin-bottom: 22px;
   letter-spacing: 0.03em;
}

.banner-box {
   padding-left: 90px;
}

.banner-text {
   font-size: 18px;
   width: 297px;
   margin-bottom: 50px;
   line-height: 166%;
   letter-spacing: 0.02em;
}

.btn {
   font-weight: 700;
   font-size: 16px;
   color: #2B3541;
   text-transform: uppercase;
   text-decoration: none;
   background: #fbf138;
   padding: 20px 30px;
   box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
   transition: 0.3s;
   letter-spacing: 0.03em;
   line-height: 125%;
}

.btn:hover {
   color: #fbf138;
   background: #2B3541;
   box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
}

.banner-arrow {
   display: block;
   background: url(../img/icons/Arrow.svg) no-repeat center center / cover;
   width: 52px;
   height: 55px;
   margin-top: 203px;
   border-radius: 100%;
   transition: 2s;
}

.banner-arrow:hover {
   opacity: .3;
   box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
}



/* <section class="events"> */

.events {
   margin: 163px 0;
   position: relative;
}



h2 {
   font-weight: 700;
   font-size: 40px;
   margin: 0;
}

.events-title {
   margin-top: 0;
   margin-bottom: 40px;
}

.events-grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
}

.events-grid-item {
   position: relative;
   height: 600px;
   cursor: pointer;
}


.events-grid-cover {
   width: 100%;
   height: 600px;
   position: relative;
   overflow: hidden;
   background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
   transition: 0.3s;
}

.events-grid-cover img {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   -o-object-fit: cover;
   object-fit: cover;
   width: 100%;
   height: 600px;
   opacity: .8;
}

h3 {
   font-weight: 700;
   font-size: 28px;
   line-height: 125%;
   margin: 0;
}

.events-grid-title {
   position: absolute;
   top: 0;
   padding: 30px 0 0 30px;
}

.events-grid-title span {
   display: block;
   margin-bottom: 13px;
   font-size: 18px;
   opacity: .6;
}

.events-grid-text {
   position: absolute;
   bottom: 0;
   right: 0;
   font-size: 18px;
   background: #fbf138;
   padding: 15px 20px;
   margin: 0;
}

.events-grid-btn {
   font-weight: 700;
   font-size: 16px;
   color: #fbf138;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   padding: 20px 37px;
   background: #2B3541;
   border: none;
   position: absolute;
   top: 187px;
   left: 30px;
   transition: 0.3s;
   opacity: 0;
}

.events-grid-overlay {
   position: absolute;
   height: 100%;
   left: 0px;
   top: 0px;
   width: 100%;
   background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
   opacity: 0;
   transition: 0.3s;
}


.events-grid-item:hover .events-grid-btn {
   opacity: 1;
   cursor: pointer;
}

.events-grid-item:hover .events-grid-overlay {
   opacity: .6;
}

.events-grid-item:hover .events-grid-text {
   display: none;
}

/* <div class="popup-form"> - Форма на участие */

.blackout {
   content: '';
   background-color: rgba(0, 0, 0, 0.8);
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: 4;
   display: none;
}

#popupWindow {
   width: 600px;
   background: #F3F3F3;
   position: absolute;
   left: -100%;
   z-index: 5;
   /* visibility: visible; */
}

.popup-window-close {
   content: '';
   background: url(../img/icons/close.svg) no-repeat center / cover;
   width: 20px;
   height: 20px;
   border: none;
   /* color: #010101; - можно сделать с помощью буквы 'X'
   font-size: 20px; */
   position: absolute;
   top: 30px;
   right: 30px;
   cursor: pointer;
   transition: 0.3s;
}

.popup-window-wrapper {
   padding: 60px 50px 82px;

}

.popup-window-box {
   width: 430px;
   text-align: center;
   margin: 0 auto;
}

.popup-window-title {
   position: relative;
   z-index: 1;
}

.title-before::before {
   content: '';
   display: inline-block;
   width: 53px;
   height: 53px;
   border-radius: 100%;
   background: #FBF138;
   box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
   position: absolute;
   left: 39px;
   top: -30px;
   z-index: -1;
}

.popup-window-text {
   font-size: 18px;
   line-height: 1.5;
   margin-bottom: 40px;
}

.popup-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 auto;
}

.popup-input {
   display: block;
   width: 450px;
   padding: 24px 25px;
   margin-bottom: 19px;
   border: none;
}

.input-placeholder::-webkit-input-placeholder {
   font-size: 18px;
   color: #2B3541;
   opacity: 0.3;
}

.input-placeholder::-moz-placeholder {
   font-size: 18px;
   color: #2B3541;
   opacity: 0.3;
}

.input-placeholder:-ms-input-placeholder {
   font-size: 18px;
   color: #2B3541;
   opacity: 0.3;
}

.input-placeholder::-ms-input-placeholder {
   font-size: 18px;
   color: #2B3541;
   opacity: 0.3;
}

.input-placeholder::placeholder {
   font-size: 18px;
   color: #2B3541;
   opacity: 0.3;
}

.popup-input:focus {
   /* background: #F3F3F3; */
   outline: none;
}

.btn {}

.popup-btn {
   padding: 20px 197px;
   margin-top: 20px;
   border: none;
}

/* <section class="timetable"> - сетка grid */

.timetable {
   margin-bottom: 160px;
}

.container {}

.timetable-wrapper {
   display: flex;
   /* align-items: center; */
   justify-content: space-between;
   margin-bottom: 38px;
}

.timetable-title {
   width: 356px;
}

.timetable-date {
   font-weight: 700;
   font-size: 28px;
   padding-top: 10px;
}

.timetable-grid {
   display: grid;
   grid-template-columns: repeat(3, minmax(340px, 1fr));
   gap: 20px;
}

.timetable-grid-itemLeft {
   display: grid;
   grid-template: 250px 433px / 1fr;
   gap: 20px;
}

.timetable-grid-itemCenter {
   display: grid;
   grid-template: 402px 281px / 1fr;
   gap: 20px;
}

.timetable-grid-itemRight {
   display: grid;
   grid-template: 309px 374px / 1fr;
   gap: 20px;
}

.timetable-grid-item {
   outline: 1px solid rgba(43, 53, 65, .5);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 20px 30px;
}

h4,
.timetable-grid-date,
.timetable-grid-text {
   margin: 0;
   font-size: 18px;
}

.timetable-grid-date {
   text-align: end;
   color: rgba(43, 53, 65, .7);
}

.timetable-grid-box {}

.timetable-grid-img {
   margin-bottom: 40px;
}

.timetable-grid-title {
   /* margin-bottom: 20px; */
}

.timetable-grid-text {
   line-height: 150%;
   overflow: hidden;
   max-height: 0;
   transition: 0.5s linear;
}

.timetable-grid-item:hover .timetable-grid-text {
   max-height: 500px;
   margin-top: 20px;
}

.timetable-grid-item:hover {
   background: rgba(243, 243, 243, .5);
   box-shadow: 0px 4px 30px rgba(43, 53, 65, 0.2);
   outline: none;
}

.training-day-text {
   overflow: visible;
   max-height: 500px;
}

.training-day {
   background: linear-gradient(180deg, rgba(251, 241, 56, .7), rgba(253, 249, 182, 0.45) 100%);
   box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
   outline: none;
   pointer-events: none;
}

.training-day .timetable-grid-title {
   margin-bottom: 19px;
}

/* <section class="mailing"> - Рассылка */

.mailing {
   background: #F3F3F3;
   padding: 80px 0;
   margin-bottom: 160px;
}

.container {}

.mailing-title {
   position: relative;
   z-index: 1;
   margin-bottom: 40px;
   text-align: center;
}

.mailing-title::before {
   left: 244px;
   top: -19px;
}

.mailing-form {
   display: grid;
   grid-template: 1fr auto/ 372px 225px;
   justify-content: center;
   gap: 10px 10px;
   font-size: 11px;
}

.mailing-input {
   padding: 19px 19px 19px 19px;
   border: none;
   max-width: 372px;
}

.mailing-input:focus {
   outline: none;
}

.btn {}

.mailing-btn {
   padding: 24px 42px;
   border: none;
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   letter-spacing: 0.03em;
   margin-left: 13px;
   width: 225px;
}

.mailing-checkbox {
   grid-column: span 2;
   display: flex;
   align-items: center;

}

.input-checkbox {
   position: absolute;
   z-index: -1;
   opacity: 0;
}

.input-checkbox+.mailing-label {
   display: inline-flex;
   align-items: center;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.input-checkbox+.mailing-label::before {
   content: '';
   display: inline-block;
   background: url(../img/icons/checkempty.svg);
   width: 18px;
   height: 18px;
   margin-right: 0.5em;
}

.input-checkbox:checked+.mailing-label::before {
   background: url(../img/icons/checkbox.svg);
}

.mailing-label,
.mailing-link {
   color: rgba(43, 53, 65, .5);
}

.mailing-link:hover {
   color: #2B3541;
}


/* <section class="company"> - О компании */


.company {
   margin-bottom: 170px;
}

.company p {
   margin: 0;
}

.company-content {
   display: flex;
   flex-direction: column;
   gap: 80px;
   justify-content: space-between;
}

.company-wrapper {
   display: flex;
   gap: 77px;
   justify-content: space-between;
}

.company-wrapper-description {}

.company-wrapper-title {
   margin-bottom: 25px;
}

.company-wrapper-text {
   font-size: 18px;
   line-height: 150%;
   width: 490px;
}


.company-wrapper-btn {
   display: inline-block;
   margin-top: 34px;
   padding: 22px 51px;
}

.company-wrapper-img {
   width: 100%;
   height: 336px;
   position: relative;
   overflow: hidden;
   background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);

}

.company-wrapper-img img {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   -o-object-fit: cover;
   object-fit: cover;
   width: 100%;
   height: 336px;
   opacity: .8;
}

.company-box {
   display: flex;
   gap: 67px;
}

.company-box-item:last-child {
   flex: 0 0 202px;
}


.company-box-title {
   margin-bottom: 26px;
}

.company-box-para {
   font-size: 18px;
   line-height: 150%;
   color: rgba(43, 53, 65, .6);
}


/* <footer class="footer"> */


.footer {
   background: #F3F3F3;
   padding: 38px 0 21px 0;
}

.footer-box {
   margin-bottom: 21px;
   gap: 5px;
}

.footer-menu {
   /* gap: 5px; */
}

.footer-logo {}

.footer-nav {
   padding-left: 21px;
   gap: 91px;
}

.footer-nav a {
   font-size: 14px;

}

.footer-mail {
   font-weight: 700;
   font-size: 16px;
   margin-left: 153px;
}

.footer-mail {
   position: relative;
   z-index: 1;
}

.footer-mail::before {
   content: '';
   display: inline-block;
   width: 25px;
   height: 25px;
   border-radius: 100%;
   background: #FBF138;
   box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
   position: absolute;
   left: -19px;
   top: -12px;
   z-index: -1;
}

.footer-social {}

.footer-insta,
.footer-fb {
   width: 27px;
   height: 27px;
}

.footer-wrapper {
   display: flex;
   justify-content: space-between;
}

.footer-item,
.footer-link {
   font-size: 14px;
   color: rgba(43, 53, 65, .3);
}

.footer-link:hover {
   color: #2B3541;
}


/* кнопка наверх */

.button-up {
   background: url(../img/icons/arrowUp.svg) no-repeat center / cover;
   width: 32px;
   height: 35px;
   position: fixed;
   bottom: 20px;
   right: 20px;
   transition: 1s;
}

.button-up:hover {
   box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
}

.button-up.hidden {
   opacity: 0;
}

.button-up.visible {
   opacity: 0.5;
}



/* 
@media (max-width: 1920px) {
   .banner-img img {
      max-width: unset;
      width: 60vw;
      height: 50vw;
   }
} */