@media (min-width: 1000px) {
   .header-burger {
      display: none;
   }
}

@media (min-width: 1200px) {}

@media (max-width: 1000px) {
   .banner-img img {
      position: none;
   }

   nav {
      display: none;
   }

}