@media (min-width: 760px) {
   .header-burger {
      display: none;
   }
}

@media (max-width: 1166px) {
   .events-grid-title {
      padding: 21px 0 0 18px;
   }
}

@media (max-width: 760px) {


   header nav {
      display: none;
   }

}